<a href="https://colab.research.google.com/github/iktoning/RekomendasiBuku/blob/Yoga-Branch/Rekomendasi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! chmod 600 /content/kaggle.json

In [3]:
! KAGGLE_CONFIG_DIR=/content/ kaggle datasets download -d arashnic/book-recommendation-dataset

Downloading book-recommendation-dataset.zip to /content
 38% 9.00M/23.8M [00:00<00:00, 40.5MB/s]
100% 23.8M/23.8M [00:00<00:00, 86.3MB/s]

In [5]:
import zipfile
zip_file = zipfile.ZipFile('/content/book-recommendation-dataset.zip','r')
zip_file.extractall('/tmp/')

In [6]:
import pandas as pd

In [7]:
user = pd.read_csv('/tmp/Users.csv')
ratings = pd.read_csv('/tmp/Ratings.csv')
books = pd.read_csv('/tmp/Books.csv')

<ipython-input-7-cd736f7f1f97>:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('/tmp/Books.csv')

In [8]:
print(user.head())

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [9]:
print(ratings.head())

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [10]:
print(books.head())

         ISBN                                         Book-Title  \
0  0195153448                                Classical Mythology
1  0002005018                                       Clara Callan
2  0060973129                               Decision in Normandy
3  0374157065  Flu: The Story of the Great Influenza Pandemic...
4  0393045218                             The Mummies of Urumchi

            Book-Author Year-Of-Publication                   Publisher  \
0    Mark P. O. Morford                2002     Oxford University Press
1  Richard Bruce Wright                2001       HarperFlamingo Canada
2          Carlo D'Este                1991             HarperPerennial
3      Gina Bari Kolata                1999        Farrar Straus Giroux
4       E. J. W. Barber                1999  W. W. Norton &amp; Company

                                         Image-URL-S  \
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...

                                         Image-URL-M  \
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...

                                         Image-URL-L
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...

In [12]:
user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [13]:
user = user[1:10001]
user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 1 to 10000
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   User-ID   10000 non-null  int64
 1   Location  10000 non-null  object
 2   Age       6274 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 234.5+ KB

In [14]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [15]:
ratings = ratings[1:10001]
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 1 to 10000
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   User-ID      10000 non-null  int64
 1   ISBN         10000 non-null  object
 2   Book-Rating  10000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 234.5+ KB

In [16]:
ratings.describe()

             User-ID   Book-Rating
count   10000.000000  10000.000000
mean   265816.731400      1.974700
std     56999.000622      3.424884
min         2.000000      0.000000
25%    277478.000000      0.000000
50%    278418.000000      0.000000
75%    278418.000000      4.000000
max    278854.000000     10.000000

In [17]:
print('Jumlah user-ID: ', len(ratings['User-ID'].unique()))
print('Jumlah ISBN: ', len(ratings['ISBN'].unique()))
print('Jumlah data rating buku: ', len(ratings['Book-Rating']))

Jumlah user-ID:  940
Jumlah ISBN:  9340
Jumlah data rating buku:  10000

In [18]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271359 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [19]:
books = books[1:10001]
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 1 to 10000
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ISBN                 10000 non-null  object
 1   Book-Title           10000 non-null  object
 2   Book-Author          10000 non-null  object
 3   Year-Of-Publication  10000 non-null  object
 4   Publisher            10000 non-null  object
 5   Image-URL-S          10000 non-null  object
 6   Image-URL-M          10000 non-null  object
 7   Image-URL-L          10000 non-null  object
dtypes: object(8)
memory usage: 625.1+ KB

In [21]:
print('Banyak Judul Buku: ', len(books['Book-Title'].unique()))
print('Judul Buku: ', books['Book-Title'].unique())

Banyak Judul Buku:  9553
Judul Buku:  ['Clara Callan' 'Decision in Normandy'
 'Flu: The Story of the Great Influenza Pandemic of 1918 and the Search for the Virus That Caused It'
 ... 'Tod in der Datscha.' 'Dunkel.' 'Whispers (Glenbrooke)']

In [22]:
books = books.drop(columns=['Image-URL-S', 'Image-URL-M', 'Image-URL-L'], axis=1)
books

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company
5,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group
...,...,...,...,...,...
9996,0862418879,The Star Rover,Jack London,2000,Canongate Books
9997,340414645X,Die Keltennadel.,Patrick Dunne,2001,LÃ?Â¼bbe
9998,3442730988,Tod in der Datscha.,Anna Malyschewa,2003,btb
9999,3404144783,Dunkel.,Wolfgang Hohlbein,2001,LÃ?Â¼bbe
10000,0880707550,Whispers (Glenbrooke),Robin Jones Gunn,1995,Palisades

In [23]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [24]:
ratings.groupby('ISBN').sum()

               User-ID  Book-Rating
ISBN
0002005018           8            5
0002231115      277962            0
0002232766      277962            0
0002240114      277996            6
000225669X      276912            6
...                ...          ...
B0000BLD7X      276762            0
B158991965      276884            6
DITISEENSOORT   278559            0
N3453124715     276762            4
O6712345670     277305            7

[9340 rows x 2 columns]

In [26]:
all_ratings = ratings
all_ratings

       User-ID        ISBN  Book-Rating
1       276726  0155061224            5
2       276727  0446520802            0
3       276729  052165615X            3
4       276729  0521795028            6
5       276733  2080674722            0
...        ...         ...          ...
9996       243  0440224764            0
9997       243  0440225701            0
9998       243  0440226430            0
9999       243  0440234743            0
10000      243  0440234964            0

[10000 rows x 3 columns]

In [27]:
all_books = pd.merge(all_ratings, books[['ISBN','Book-Title','Book-Author']], on='ISBN', how='left')
all_books

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author
0,276726,0155061224,5,NaN,NaN
1,276727,0446520802,0,NaN,NaN
2,276729,052165615X,3,NaN,NaN
3,276729,0521795028,6,NaN,NaN
4,276733,2080674722,0,NaN,NaN
...,...,...,...,...,...
9995,243,0440224764,0,The Partner,John Grisham
9996,243,0440225701,0,The Street Lawyer,JOHN GRISHAM
9997,243,0440226430,0,Summer Sisters,Judy Blume
9998,243,0440234743,0,The Testament,John Grisham
9999,243,0440234964,0,All or Nothing (Wheeler Large Print Books),Elizabeth Adler

In [28]:
all_books.isnull().sum()

User-ID           0
ISBN              0
Book-Rating       0
Book-Title     8172
Book-Author    8172
dtype: int64

In [29]:
len(all_books)

10000

In [30]:
all_books_clean = all_books.dropna()
all_books_clean

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author
7,276744,038550120X,7,A Painted House,JOHN GRISHAM
9,276746,0425115801,0,Lightning,Dean R. Koontz
10,276746,0449006522,0,Manhattan Hunt Club,JOHN SAUL
11,276746,0553561618,0,Dark Paradise,TAMI HOAG
12,276746,055356451X,0,Night Sins,TAMI HOAG
...,...,...,...,...,...
9995,243,0440224764,0,The Partner,John Grisham
9996,243,0440225701,0,The Street Lawyer,JOHN GRISHAM
9997,243,0440226430,0,Summer Sisters,Judy Blume
9998,243,0440234743,0,The Testament,John Grisham
9999,243,0440234964,0,All or Nothing (Wheeler Large Print Books),Elizabeth Adler

In [31]:
all_books_clean.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
Book-Title     0
Book-Author    0
dtype: int64

In [32]:
preparation = all_books_clean.sort_values('ISBN', ascending=True)
preparation

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author
9562,8,0002005018,5,Clara Callan,Richard Bruce Wright
9881,190,0002740230,7,Keep It Simple: And Get More Out of Life,Nick Page
4332,278418,0020418809,0,CADDIE WOODLAWN,Carol Ryrie Brink
4336,278418,0020442203,0,"Lion, the Witch and the Wardrobe",C.S. Lewis
4337,278418,0020442408,0,Prince Caspian,C. S. Lewis
...,...,...,...,...,...
388,276888,884590184X,0,Siddharta Romanzo Versione Di M Mila,Hermann Hesse
516,276925,950491036X,10,La Sombra del Viento,Carlos Ruiz Zafon
2237,277509,9724115380,9,A hora de SertÃ³rio (Finisterra),JoÃ£o Aguiar
9715,160,9724119378,0,O Deus Das Pequenas Coisas,Roy
518,276925,9871138016,0,Cronica De Una Muerte Anunciada,Gabriel Marques Garcia

In [33]:
preparation = preparation.drop_duplicates('ISBN')
preparation

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author
9562,8,0002005018,5,Clara Callan,Richard Bruce Wright
9881,190,0002740230,7,Keep It Simple: And Get More Out of Life,Nick Page
4332,278418,0020418809,0,CADDIE WOODLAWN,Carol Ryrie Brink
4336,278418,0020442203,0,"Lion, the Witch and the Wardrobe",C.S. Lewis
4337,278418,0020442408,0,Prince Caspian,C. S. Lewis
...,...,...,...,...,...
388,276888,884590184X,0,Siddharta Romanzo Versione Di M Mila,Hermann Hesse
516,276925,950491036X,10,La Sombra del Viento,Carlos Ruiz Zafon
2237,277509,9724115380,9,A hora de SertÃ³rio (Finisterra),JoÃ£o Aguiar
9715,160,9724119378,0,O Deus Das Pequenas Coisas,Roy
518,276925,9871138016,0,Cronica De Una Muerte Anunciada,Gabriel Marques Garcia

In [34]:
book_id = preparation['ISBN'].tolist()

book_author = preparation['Book-Author'].tolist()

book_title = preparation['Book-Title'].tolist()

print(len(book_id))
print(len(book_author))
print(len(book_title))

1365
1365
1365

In [35]:
book_new = pd.DataFrame({
    'id': book_id,
    'book_author': book_author,
    'book_title': book_title
})
book_new

,id,book_author,book_title
0,0002005018,Richard Bruce Wright,Clara Callan
1,0002740230,Nick Page,Keep It Simple: And Get More Out of Life
2,0020418809,Carol Ryrie Brink,CADDIE WOODLAWN
3,0020442203,C.S. Lewis,"Lion, the Witch and the Wardrobe"
4,0020442408,C. S. Lewis,Prince Caspian
...,...,...,...
1360,884590184X,Hermann Hesse,Siddharta Romanzo Versione Di M Mila
1361,950491036X,Carlos Ruiz Zafon,La Sombra del Viento
1362,9724115380,JoÃ£o Aguiar,A hora de SertÃ³rio (Finisterra)
1363,9724119378,Roy,O Deus Das Pequenas Coisas
1364,9871138016,Gabriel Marques Garcia,Cronica De Una Muerte Anunciada

In [42]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Inisialisasi TfidfVectorizer
tf = TfidfVectorizer()

# Melakukan perhitungan idf pada data 'book_title'
tf.fit(book_new['book_title'])

# Mapping array dari fitur index integer ke fitur nama
tf.get_feature_names_out()

array(['00', '000', '01', ..., 'â¼fung', 'â¼gt', 'â¼sse'], dtype=object)

In [44]:
tfidf_matrix = tf.fit_transform(book_new['book_title'])

tfidf_matrix.shape

(1365, 2501)

In [46]:
tfidf_matrix.todense()

matrix([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]])

In [47]:
pd.DataFrame(
    tfidf_matrix.todense(),
    columns=tf.get_feature_names_out(),
    index=book_new.book_author
).sample(1541, axis=1).sample(10, axis=0)

,gedã,listener,crow,schlecht,middle,mcdonald,anillo,ella,escrito,classiques,...,sisters,changing,outer,myron,myth,gangster,goblins,illuminated,mars,hearts
book_author,,,,,,,,,,,,,,,,,,,,,
Stephen King,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Tim Lahaye,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Gabriel Marques Garcia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Robin Cook,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
The Onion,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
LAURA HILLENBRAND,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Janet Fitch,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
James Patterson,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Stuart Woods,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Janis Arnold,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [48]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(tfidf_matrix)
cosine_sim

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.14157509],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.14157509, 0.        ,
        1.        ]])

In [49]:
cosine_sim_df = pd.DataFrame(cosine_sim, index=book_new['book_author'], columns=book_new['book_author'])
print('Shape:', cosine_sim_df.shape)

cosine_sim_df.sample(7, axis=1).sample(10, axis=0)

Shape: (1365, 1365)

book_author,Judy Blume,Kay Hooper,Stuart Woods,V.C. Andrews,Laura Esquivel,Fannie Flagg,Anne Frasier
book_author,,,,,,,
Dean R. Koontz,0.0,0.000000,0.0,0.0,0.0000,0.000000,0.0
Kevin J. Anderson,0.0,0.079449,0.0,0.0,0.0201,0.009739,0.0
IAN MCEWAN,0.0,0.000000,0.0,0.0,0.0000,0.000000,0.0
Stephen King,0.0,0.000000,0.0,0.0,0.0000,0.000000,0.0
Stephan Jaramillo,0.0,0.000000,0.0,0.0,0.0000,0.000000,0.0
TAMI HOAG,0.0,0.000000,0.0,0.0,0.0000,0.000000,0.0
James Patterson,0.0,0.000000,0.0,0.0,0.0000,0.000000,0.0
Oscar Wilde,0.0,0.000000,0.0,0.0,0.0000,0.000000,0.0
Anne Rice,0.0,0.000000,0.0,0.0,0.0000,0.000000,0.0
Nevada Barr,0.0,0.000000,0.0,0.0,0.0000,0.000000,0.0

In [50]:
def book_recommendations(nama_author, similarity_data=cosine_sim_df, items=book_new[['book_author', 'book_title']], n=10):

    index = similarity_data.loc[:,nama_author].to_numpy().argpartition(
        range(-1, -n, -1))

    closest = similarity_data.columns[index[-1:-(n+2):-1]]

    closest = closest.drop(nama_author, errors='ignore')

    return pd.DataFrame(closest).merge(items).head(n)

In [51]:
book_new[book_new.book_author.eq('Peter Carey')]

             id  book_author                      book_title
331  0375410848  Peter Carey  True History of the Kelly Gang

In [52]:
book_recommendations('Peter Carey')

          book_author                                         book_title
0         DONNA TARTT                                     Secret History
1         Luanne Rice                                       Summer Light
2         Luanne Rice                                        Safe Harbor
3         Luanne Rice                                          True Blue
4     Jostein Gaarder  Sophie's World: A Novel About the History of P...
5    Sebastian Junger  The Perfect Storm: A True Story of Men Against...
6  Robert Hendrickson  More Cunning Than Man: A Social History of Rat...
7     Adeline Yen Mah  Falling Leaves: The True Story of an Unwanted ...
8           Marc Levy                               If Only It Were True
9          Wally Lamb                           I Know This Much Is True

In [53]:
import pandas as pd
import numpy as np
from zipfile import ZipFile
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from pathlib import Path
import matplotlib.pyplot as plt

In [54]:
df = ratings
df

       User-ID        ISBN  Book-Rating
1       276726  0155061224            5
2       276727  0446520802            0
3       276729  052165615X            3
4       276729  0521795028            6
5       276733  2080674722            0
...        ...         ...          ...
9996       243  0440224764            0
9997       243  0440225701            0
9998       243  0440226430            0
9999       243  0440234743            0
10000      243  0440234964            0

[10000 rows x 3 columns]

In [55]:
user_ids = df['User-ID'].unique().tolist()
print('list User-ID: ', user_ids)

user_to_user_encoded = {x: i for i, x in enumerate(user_ids)}
print('encoded User-ID : ', user_to_user_encoded)

user_encoded_to_user = {i: x for i, x in enumerate(user_ids)}
print('encoded angka ke User-ID: ', user_encoded_to_user)

list User-ID:  [276726, 276727, 276729, 276733, 276736, 276737, 276744, 276745, 276746, 276747, 276748, 276751, 276754, 276755, 276760, 276762, 276765, 276768, 276772, 276774, 276780, 276786, 276788, 276796, 276798, 276800, 276803, 276804, 276806, 276808, 276811, 276812, 276813, 276814, 276817, 276820, 276822, 276827, 276828, 276830, 276832, 276833, 276835, 276837, 276838, 276840, 276842, 276847, 276848, 276850, 276852, 276853, 276854, 276856, 276857, 276859, 276861, 276862, 276863, 276866, 276869, 276870, 276872, 276873, 276875, 276878, 276879, 276884, 276887, 276888, 276889, 276890, 276896, 276904, 276905, 276911, 276912, 276915, 276916, 276925, 276927, 276928, 276929, 276934, 276936, 276939, 276943, 276946, 276949, 276950, 276953, 276954, 276957, 276959, 276963, 276964, 276965, 276975, 276981, 276984, 276986, 276988, 276989, 276990, 276992, 276994, 276997, 276998, 277002, 277007, 277009, 277010, 277012, 277018, 277019, 277022, 277023, 277028, 277031, 277032, 277035, 277036, 277040, 277042, 277048, 277051, 277052, 277053, 277056, 277058, 277064, 277065, 277072, 277073, 277074, 277075, 277079, 277085, 277087, 277090, 277094, 277096, 277102, 277107, 277109, 277114, 277116, 277123, 277124, 277128, 277129, 277134, 277135, 277139, 277142, 277143, 277149, 277155, 277157, 277159, 277165, 277168, 277170, 277171, 277176, 277179, 277180, 277183, 277186, 277187, 277188, 277189, 277195, 277196, 277197, 277203, 277205, 277209, 277212, 277220, 277221, 277228, 277229, 277230, 277231, 277232, 277235, 277237, 277240, 277242, 277243, 277244, 277245, 277246, 277249, 277253, 277256, 277257, 277261, 277262, 277265, 277267, 277268, 277269, 277271, 277272, 277274, 277281, 277284, 277285, 277288, 277291, 277292, 277293, 277305, 277314, 277315, 277317, 277330, 277334, 277338, 277339, 277340, 277341, 277343, 277348, 277351, 277353, 277358, 277359, 277363, 277364, 277367, 277369, 277371, 277374, 277375, 277378, 277379, 277380, 277384, 277388, 277389, 277392, 277397, 277399, 277400, 277402, 277405, 277408, 277411, 277413, 277424, 277425, 277427, 277432, 277433, 277434, 277435, 277436, 277439, 277444, 277453, 277457, 277461, 277462, 277466, 277469, 277470, 277471, 277473, 277474, 277478, 277479, 277486, 277488, 277489, 277502, 277506, 277508, 277509, 277513, 277514, 277516, 277517, 277518, 277519, 277523, 277525, 277526, 277527, 277528, 277529, 277530, 277532, 277533, 277535, 277538, 277544, 277547, 277548, 277554, 277556, 277559, 277560, 277562, 277563, 277565, 277568, 277569, 277574, 277575, 277579, 277585, 277586, 277588, 277589, 277590, 277594, 277595, 277596, 277598, 277601, 277605, 277610, 277619, 277622, 277623, 277627, 277629, 277632, 277633, 277636, 277638, 277639, 277641, 277643, 277646, 277647, 277648, 277650, 277651, 277657, 277660, 277662, 277665, 277667, 277680, 277681, 277682, 277687, 277688, 277689, 277691, 277696, 277697, 277698, 277700, 277701, 277705, 277706, 277710, 277711, 277712, 277714, 277716, 277720, 277722, 277727, 277728, 277737, 277740, 277741, 277743, 277744, 277746, 277748, 277752, 277753, 277756, 277759, 277761, 277764, 277765, 277767, 277768, 277769, 277774, 277775, 277776, 277777, 277778, 277779, 277781, 277782, 277783, 277784, 277786, 277787, 277788, 277790, 277791, 277793, 277794, 277795, 277797, 277798, 277799, 277800, 277801, 277802, 277803, 277807, 277808, 277809, 277811, 277812, 277813, 277814, 277816, 277817, 277818, 277819, 277820, 277823, 277824, 277825, 277826, 277827, 277828, 277830, 277831, 277832, 277833, 277834, 277835, 277837, 277838, 277840, 277841, 277842, 277843, 277844, 277845, 277847, 277853, 277856, 277862, 277864, 277867, 277872, 277873, 277877, 277879, 277882, 277884, 277888, 277891, 277892, 277894, 277895, 277898, 277901, 277903, 277904, 277908, 277909, 277911, 277913, 277915, 277918, 277919, 277921, 277922, 277923, 277928, 277929, 277930, 277932, 277934, 277937, 277938, 277941, 277945, 277946, 277947, 277953, 277954, 277958, 277959, 277962, 277964, 277965, 277969, 277975, 277978, 277982, 277984, 277987, 277988, 277989, 277992, 277993, 277996, 277997, 277998, 278002, 278004, 278007, 278008, 278009, 278012, 278013, 278014, 278017, 278019, 278020, 278021, 278022, 278023, 278024, 278026, 278030, 278034, 278036, 278043, 278044, 278048, 278054, 278056, 278057, 278058, 278063, 278064, 278065, 278066, 278069, 278070, 278074, 278075, 278079, 278085, 278089, 278092, 278094, 278095, 278096, 278097, 278098, 278100, 278104, 278106, 278107, 278110, 278111, 278112, 278117, 278119, 278120, 278122, 278126, 278130, 278131, 278137, 278139, 278140, 278144, 278148, 278149, 278153, 278155, 278156, 278158, 278159, 278160, 278161, 278162, 278167, 278168, 278172, 278176, 278177, 278181, 278183, 278184, 278185, 278188, 278193, 278194, 278197, 278199, 278200, 278202, 278203, 278204, 278206, 278207, 278209, 278212, 278213, 278215, 278216, 278218, 278220, 278221, 278224, 278227, 278229, 278235, 278237, 278238, 278242, 278243, 278244, 278245, 278246, 278248, 278249, 278250, 278251, 278253, 278254, 278255, 278257, 278259, 278260, 278263, 278264, 278270, 278274, 278279, 278280, 278297, 278300, 278302, 278307, 278310, 278311, 278313, 278314, 278316, 278319, 278325, 278328, 278330, 278332, 278333, 278334, 278336, 278342, 278345, 278346, 278350, 278355, 278356, 278357, 278358, 278361, 278364, 278365, 278368, 278373, 278376, 278377, 278378, 278388, 278389, 278390, 278394, 278396, 278398, 278400, 278401, 278407, 278409, 278411, 278413, 278418, 278419, 278422, 278423, 278425, 278430, 278431, 278432, 278435, 278439, 278444, 278446, 278449, 278450, 278452, 278458, 278459, 278461, 278462, 278465, 278466, 278469, 278474, 278475, 278479, 278483, 278487, 278488, 278490, 278491, 278492, 278500, 278501, 278503, 278506, 278510, 278512, 278514, 278515, 278520, 278522, 278524, 278525, 278528, 278529, 278531, 278533, 278534, 278535, 278536, 278537, 278538, 278539, 278540, 278541, 278542, 278543, 278545, 278550, 278551, 278552, 278554, 278556, 278559, 278561, 278563, 278565, 278568, 278569, 278571, 278573, 278582, 278586, 278588, 278597, 278601, 278606, 278608, 278610, 278615, 278618, 278620, 278621, 278629, 278633, 278634, 278636, 278637, 278641, 278644, 278645, 278648, 278650, 278652, 278653, 278659, 278663, 278665, 278668, 278669, 278670, 278671, 278672, 278675, 278681, 278683, 278688, 278691, 278692, 278694, 278698, 278710, 278713, 278714, 278715, 278720, 278721, 278723, 278724, 278729, 278731, 278732, 278740, 278747, 278750, 278752, 278755, 278759, 278760, 278764, 278766, 278767, 278769, 278771, 278772, 278773, 278774, 278777, 278778, 278781, 278782, 278784, 278786, 278788, 278789, 278795, 278796, 278798, 278799, 278800, 278806, 278807, 278813, 278815, 278818, 278819, 278820, 278823, 278824, 278825, 278828, 278831, 278832, 278836, 278838, 278843, 278844, 278846, 278849, 278851, 278852, 278854, 2, 7, 8, 9, 10, 12, 14, 16, 17, 19, 20, 22, 23, 26, 32, 36, 38, 39, 42, 44, 51, 53, 56, 64, 67, 68, 69, 70, 73, 75, 77, 78, 79, 81, 82, 83, 85, 86, 87, 88, 91, 92, 95, 97, 99, 100, 102, 107, 109, 110, 114, 125, 129, 132, 133, 135, 137, 139, 141, 144, 151, 160, 162, 165, 169, 176, 178, 182, 183, 185, 190, 193, 199, 202, 204, 207, 212, 215, 217, 221, 224, 226, 228, 230, 232, 233, 236, 237, 241, 242, 243]
encoded User-ID :  {276726: 0, 276727: 1, 276729: 2, 276733: 3, 276736: 4, 276737: 5, 276744: 6, 276745: 7, 276746: 8, 276747: 9, 276748: 10, 276751: 11, 276754: 12, 276755: 13, 276760: 14, 276762: 15, 276765: 16, 276768: 17, 276772: 18, 276774: 19, 276780: 20, 276786: 21, 276788: 22, 276796: 23, 276798: 24, 276800: 25, 276803: 26, 276804: 27, 276806: 28, 276808: 29, 276811: 30, 276812: 31, 276813: 32, 276814: 33, 276817: 34, 276820: 35, 276822: 36, 276827: 37, 276828: 38, 276830: 39, 276832: 40, 276833: 41, 276835: 42, 276837: 43, 276838: 44, 276840: 45, 276842: 46, 276847: 47, 276848: 48, 276850: 49, 276852: 50, 276853: 51, 276854: 52, 276856: 53, 276857: 54, 276859: 55, 276861: 56, 276862: 57, 276863: 58, 276866: 59, 276869: 60, 276870: 61, 276872: 62, 276873: 63, 276875: 64, 276878: 65, 276879: 66, 276884: 67, 276887: 68, 276888: 69, 276889: 70, 276890: 71, 276896: 72, 276904: 73, 276905: 74, 276911: 75, 276912: 76, 276915: 77, 276916: 78, 276925: 79, 276927: 80, 276928: 81, 276929: 82, 276934: 83, 276936: 84, 276939: 85, 276943: 86, 276946: 87, 276949: 88, 276950: 89, 276953: 90, 276954: 91, 276957: 92, 276959: 93, 276963: 94, 276964: 95, 276965: 96, 276975: 97, 276981: 98, 276984: 99, 276986: 100, 276988: 101, 276989: 102, 276990: 103, 276992: 104, 276994: 105, 276997: 106, 276998: 107, 277002: 108, 277007: 109, 277009: 110, 277010: 111, 277012: 112, 277018: 113, 277019: 114, 277022: 115, 277023: 116, 277028: 117, 277031: 118, 277032: 119, 277035: 120, 277036: 121, 277040: 122, 277042: 123, 277048: 124, 277051: 125, 277052: 126, 277053: 127, 277056: 128, 277058: 129, 277064: 130, 277065: 131, 277072: 132, 277073: 133, 277074: 134, 277075: 135, 277079: 136, 277085: 137, 277087: 138, 277090: 139, 277094: 140, 277096: 141, 277102: 142, 277107: 143, 277109: 144, 277114: 145, 277116: 146, 277123: 147, 277124: 148, 277128: 149, 277129: 150, 277134: 151, 277135: 152, 277139: 153, 277142: 154, 277143: 155, 277149: 156, 277155: 157, 277157: 158, 277159: 159, 277165: 160, 277168: 161, 277170: 162, 277171: 163, 277176: 164, 277179: 165, 277180: 166, 277183: 167, 277186: 168, 277187: 169, 277188: 170, 277189: 171, 277195: 172, 277196: 173, 277197: 174, 277203: 175, 277205: 176, 277209: 177, 277212: 178, 277220: 179, 277221: 180, 277228: 181, 277229: 182, 277230: 183, 277231: 184, 277232: 185, 277235: 186, 277237: 187, 277240: 188, 277242: 189, 277243: 190, 277244: 191, 277245: 192, 277246: 193, 277249: 194, 277253: 195, 277256: 196, 277257: 197, 277261: 198, 277262: 199, 277265: 200, 277267: 201, 277268: 202, 277269: 203, 277271: 204, 277272: 205, 277274: 206, 277281: 207, 277284: 208, 277285: 209, 277288: 210, 277291: 211, 277292: 212, 277293: 213, 277305: 214, 277314: 215, 277315: 216, 277317: 217, 277330: 218, 277334: 219, 277338: 220, 277339: 221, 277340: 222, 277341: 223, 277343: 224, 277348: 225, 277351: 226, 277353: 227, 277358: 228, 277359: 229, 277363: 230, 277364: 231, 277367: 232, 277369: 233, 277371: 234, 277374: 235, 277375: 236, 277378: 237, 277379: 238, 277380: 239, 277384: 240, 277388: 241, 277389: 242, 277392: 243, 277397: 244, 277399: 245, 277400: 246, 277402: 247, 277405: 248, 277408: 249, 277411: 250, 277413: 251, 277424: 252, 277425: 253, 277427: 254, 277432: 255, 277433: 256, 277434: 257, 277435: 258, 277436: 259, 277439: 260, 277444: 261, 277453: 262, 277457: 263, 277461: 264, 277462: 265, 277466: 266, 277469: 267, 277470: 268, 277471: 269, 277473: 270, 277474: 271, 277478: 272, 277479: 273, 277486: 274, 277488: 275, 277489: 276, 277502: 277, 277506: 278, 277508: 279, 277509: 280, 277513: 281, 277514: 282, 277516: 283, 277517: 284, 277518: 285, 277519: 286, 277523: 287, 277525: 288, 277526: 289, 277527: 290, 277528: 291, 277529: 292, 277530: 293, 277532: 294, 277533: 295, 277535: 296, 277538: 297, 277544: 298, 277547: 299, 277548: 300, 277554: 301, 277556: 302, 277559: 303, 277560: 304, 277562: 305, 277563: 306, 277565: 307, 277568: 308, 277569: 309, 277574: 310, 277575: 311, 277579: 312, 277585: 313, 277586: 314, 277588: 315, 277589: 316, 277590: 317, 277594: 318, 277595: 319, 277596: 320, 277598: 321, 277601: 322, 277605: 323, 277610: 324, 277619: 325, 277622: 326, 277623: 327, 277627: 328, 277629: 329, 277632: 330, 277633: 331, 277636: 332, 277638: 333, 277639: 334, 277641: 335, 277643: 336, 277646: 337, 277647: 338, 277648: 339, 277650: 340, 277651: 341, 277657: 342, 277660: 343, 277662: 344, 277665: 345, 277667: 346, 277680: 347, 277681: 348, 277682: 349, 277687: 350, 277688: 351, 277689: 352, 277691: 353, 277696: 354, 277697: 355, 277698: 356, 277700: 357, 277701: 358, 277705: 359, 277706: 360, 277710: 361, 277711: 362, 277712: 363, 277714: 364, 277716: 365, 277720: 366, 277722: 367, 277727: 368, 277728: 369, 277737: 370, 277740: 371, 277741: 372, 277743: 373, 277744: 374, 277746: 375, 277748: 376, 277752: 377, 277753: 378, 277756: 379, 277759: 380, 277761: 381, 277764: 382, 277765: 383, 277767: 384, 277768: 385, 277769: 386, 277774: 387, 277775: 388, 277776: 389, 277777: 390, 277778: 391, 277779: 392, 277781: 393, 277782: 394, 277783: 395, 277784: 396, 277786: 397, 277787: 398, 277788: 399, 277790: 400, 277791: 401, 277793: 402, 277794: 403, 277795: 404, 277797: 405, 277798: 406, 277799: 407, 277800: 408, 277801: 409, 277802: 410, 277803: 411, 277807: 412, 277808: 413, 277809: 414, 277811: 415, 277812: 416, 277813: 417, 277814: 418, 277816: 419, 277817: 420, 277818: 421, 277819: 422, 277820: 423, 277823: 424, 277824: 425, 277825: 426, 277826: 427, 277827: 428, 277828: 429, 277830: 430, 277831: 431, 277832: 432, 277833: 433, 277834: 434, 277835: 435, 277837: 436, 277838: 437, 277840: 438, 277841: 439, 277842: 440, 277843: 441, 277844: 442, 277845: 443, 277847: 444, 277853: 445, 277856: 446, 277862: 447, 277864: 448, 277867: 449, 277872: 450, 277873: 451, 277877: 452, 277879: 453, 277882: 454, 277884: 455, 277888: 456, 277891: 457, 277892: 458, 277894: 459, 277895: 460, 277898: 461, 277901: 462, 277903: 463, 277904: 464, 277908: 465, 277909: 466, 277911: 467, 277913: 468, 277915: 469, 277918: 470, 277919: 471, 277921: 472, 277922: 473, 277923: 474, 277928: 475, 277929: 476, 277930: 477, 277932: 478, 277934: 479, 277937: 480, 277938: 481, 277941: 482, 277945: 483, 277946: 484, 277947: 485, 277953: 486, 277954: 487, 277958: 488, 277959: 489, 277962: 490, 277964: 491, 277965: 492, 277969: 493, 277975: 494, 277978: 495, 277982: 496, 277984: 497, 277987: 498, 277988: 499, 277989: 500, 277992: 501, 277993: 502, 277996: 503, 277997: 504, 277998: 505, 278002: 506, 278004: 507, 278007: 508, 278008: 509, 278009: 510, 278012: 511, 278013: 512, 278014: 513, 278017: 514, 278019: 515, 278020: 516, 278021: 517, 278022: 518, 278023: 519, 278024: 520, 278026: 521, 278030: 522, 278034: 523, 278036: 524, 278043: 525, 278044: 526, 278048: 527, 278054: 528, 278056: 529, 278057: 530, 278058: 531, 278063: 532, 278064: 533, 278065: 534, 278066: 535, 278069: 536, 278070: 537, 278074: 538, 278075: 539, 278079: 540, 278085: 541, 278089: 542, 278092: 543, 278094: 544, 278095: 545, 278096: 546, 278097: 547, 278098: 548, 278100: 549, 278104: 550, 278106: 551, 278107: 552, 278110: 553, 278111: 554, 278112: 555, 278117: 556, 278119: 557, 278120: 558, 278122: 559, 278126: 560, 278130: 561, 278131: 562, 278137: 563, 278139: 564, 278140: 565, 278144: 566, 278148: 567, 278149: 568, 278153: 569, 278155: 570, 278156: 571, 278158: 572, 278159: 573, 278160: 574, 278161: 575, 278162: 576, 278167: 577, 278168: 578, 278172: 579, 278176: 580, 278177: 581, 278181: 582, 278183: 583, 278184: 584, 278185: 585, 278188: 586, 278193: 587, 278194: 588, 278197: 589, 278199: 590, 278200: 591, 278202: 592, 278203: 593, 278204: 594, 278206: 595, 278207: 596, 278209: 597, 278212: 598, 278213: 599, 278215: 600, 278216: 601, 278218: 602, 278220: 603, 278221: 604, 278224: 605, 278227: 606, 278229: 607, 278235: 608, 278237: 609, 278238: 610, 278242: 611, 278243: 612, 278244: 613, 278245: 614, 278246: 615, 278248: 616, 278249: 617, 278250: 618, 278251: 619, 278253: 620, 278254: 621, 278255: 622, 278257: 623, 278259: 624, 278260: 625, 278263: 626, 278264: 627, 278270: 628, 278274: 629, 278279: 630, 278280: 631, 278297: 632, 278300: 633, 278302: 634, 278307: 635, 278310: 636, 278311: 637, 278313: 638, 278314: 639, 278316: 640, 278319: 641, 278325: 642, 278328: 643, 278330: 644, 278332: 645, 278333: 646, 278334: 647, 278336: 648, 278342: 649, 278345: 650, 278346: 651, 278350: 652, 278355: 653, 278356: 654, 278357: 655, 278358: 656, 278361: 657, 278364: 658, 278365: 659, 278368: 660, 278373: 661, 278376: 662, 278377: 663, 278378: 664, 278388: 665, 278389: 666, 278390: 667, 278394: 668, 278396: 669, 278398: 670, 278400: 671, 278401: 672, 278407: 673, 278409: 674, 278411: 675, 278413: 676, 278418: 677, 278419: 678, 278422: 679, 278423: 680, 278425: 681, 278430: 682, 278431: 683, 278432: 684, 278435: 685, 278439: 686, 278444: 687, 278446: 688, 278449: 689, 278450: 690, 278452: 691, 278458: 692, 278459: 693, 278461: 694, 278462: 695, 278465: 696, 278466: 697, 278469: 698, 278474: 699, 278475: 700, 278479: 701, 278483: 702, 278487: 703, 278488: 704, 278490: 705, 278491: 706, 278492: 707, 278500: 708, 278501: 709, 278503: 710, 278506: 711, 278510: 712, 278512: 713, 278514: 714, 278515: 715, 278520: 716, 278522: 717, 278524: 718, 278525: 719, 278528: 720, 278529: 721, 278531: 722, 278533: 723, 278534: 724, 278535: 725, 278536: 726, 278537: 727, 278538: 728, 278539: 729, 278540: 730, 278541: 731, 278542: 732, 278543: 733, 278545: 734, 278550: 735, 278551: 736, 278552: 737, 278554: 738, 278556: 739, 278559: 740, 278561: 741, 278563: 742, 278565: 743, 278568: 744, 278569: 745, 278571: 746, 278573: 747, 278582: 748, 278586: 749, 278588: 750, 278597: 751, 278601: 752, 278606: 753, 278608: 754, 278610: 755, 278615: 756, 278618: 757, 278620: 758, 278621: 759, 278629: 760, 278633: 761, 278634: 762, 278636: 763, 278637: 764, 278641: 765, 278644: 766, 278645: 767, 278648: 768, 278650: 769, 278652: 770, 278653: 771, 278659: 772, 278663: 773, 278665: 774, 278668: 775, 278669: 776, 278670: 777, 278671: 778, 278672: 779, 278675: 780, 278681: 781, 278683: 782, 278688: 783, 278691: 784, 278692: 785, 278694: 786, 278698: 787, 278710: 788, 278713: 789, 278714: 790, 278715: 791, 278720: 792, 278721: 793, 278723: 794, 278724: 795, 278729: 796, 278731: 797, 278732: 798, 278740: 799, 278747: 800, 278750: 801, 278752: 802, 278755: 803, 278759: 804, 278760: 805, 278764: 806, 278766: 807, 278767: 808, 278769: 809, 278771: 810, 278772: 811, 278773: 812, 278774: 813, 278777: 814, 278778: 815, 278781: 816, 278782: 817, 278784: 818, 278786: 819, 278788: 820, 278789: 821, 278795: 822, 278796: 823, 278798: 824, 278799: 825, 278800: 826, 278806: 827, 278807: 828, 278813: 829, 278815: 830, 278818: 831, 278819: 832, 278820: 833, 278823: 834, 278824: 835, 278825: 836, 278828: 837, 278831: 838, 278832: 839, 278836: 840, 278838: 841, 278843: 842, 278844: 843, 278846: 844, 278849: 845, 278851: 846, 278852: 847, 278854: 848, 2: 849, 7: 850, 8: 851, 9: 852, 10: 853, 12: 854, 14: 855, 16: 856, 17: 857, 19: 858, 20: 859, 22: 860, 23: 861, 26: 862, 32: 863, 36: 864, 38: 865, 39: 866, 42: 867, 44: 868, 51: 869, 53: 870, 56: 871, 64: 872, 67: 873, 68: 874, 69: 875, 70: 876, 73: 877, 75: 878, 77: 879, 78: 880, 79: 881, 81: 882, 82: 883, 83: 884, 85: 885, 86: 886, 87: 887, 88: 888, 91: 889, 92: 890, 95: 891, 97: 892, 99: 893, 100: 894, 102: 895, 107: 896, 109: 897, 110: 898, 114: 899, 125: 900, 129: 901, 132: 902, 133: 903, 135: 904, 137: 905, 139: 906, 141: 907, 144: 908, 151: 909, 160: 910, 162: 911, 165: 912, 169: 913, 176: 914, 178: 915, 182: 916, 183: 917, 185: 918, 190: 919, 193: 920, 199: 921, 202: 922, 204: 923, 207: 924, 212: 925, 215: 926, 217: 927, 221: 928, 224: 929, 226: 930, 228: 931, 230: 932, 232: 933, 233: 934, 236: 935, 237: 936, 241: 937, 242: 938, 243: 939}

In [56]:
book_ids = df['ISBN'].unique().tolist()

book_to_book_encoded = {x: i for i, x in enumerate(book_ids)}

book_encoded_to_book = {i: x for i, x in enumerate(book_ids)}

df['user'] = df['User-ID'].map(user_to_user_encoded)

df['book'] = df['ISBN'].map(book_to_book_encoded)

In [57]:
num_users = len(user_to_user_encoded)
print(num_users)

num_book = len(book_encoded_to_book)
print(num_book)

df['Book-Rating'] = df['Book-Rating'].values.astype(np.float32)

min_rating = min(df['Book-Rating'])

max_rating = max(df['Book-Rating'])

print('Number of User: {}, Number of Book: {}, Min Rating: {}, Max Rating: {}'.format(
    num_users, num_book, min_rating, max_rating
))

940
9340
Number of User: 940, Number of Book: 9340, Min Rating: 0.0, Max Rating: 10.0

In [58]:
df = df.sample(frac=1, random_state=42)
df

      User-ID        ISBN  Book-Rating  user  book
6253   278418  0439207401          0.0   677  5902
4685   278418  0307100359          0.0   677  4379
1732   277427  0553579274          0.0   254  1686
4743   278418  0307111326          0.0   677  4436
4522   278418  0140491503          0.0   677  4218
...       ...         ...          ...   ...   ...
5735   278418  0373706421          0.0   677  5401
5192   278418  0373074174          0.0   677  4870
5391   278418  0373122322          0.0   677  5066
861    277087  8474541913          8.0   138   850
7271   278418  0590455893          0.0   677  6857

[10000 rows x 5 columns]

In [59]:
x = df[['user', 'book']].values

y = df['Book-Rating'].apply(lambda x: (x - min_rating) / (max_rating - min_rating)).values

train_indices = int(0.8 * df.shape[0])
x_train, x_val, y_train, y_val = (
    x[:train_indices],
    x[train_indices:],
    y[:train_indices],
    y[train_indices:]
)

print(x, y)

[[ 677 5902]
 [ 677 4379]
 [ 254 1686]
 ...
 [ 677 5066]
 [ 138  850]
 [ 677 6857]] [0.  0.  0.  ... 0.  0.8 0. ]

In [62]:
class RecommenderNet(tf.keras.Model):

  # Insialisasi fungsi
  def __init__(self, num_users, num_book, embedding_size, **kwargs):
    super(RecommenderNet, self).__init__(**kwargs)
    self.num_users = num_users
    self.num_book = num_book
    self.embedding_size = embedding_size
    self.user_embedding = layers.Embedding( # layer embedding user
        num_users,
        embedding_size,
        embeddings_initializer = 'he_normal',
        embeddings_regularizer = keras.regularizers.l2(1e-6)
    )
    self.user_bias = layers.Embedding(num_users, 1) # layer embedding user bias
    self.book_embedding = layers.Embedding( # layer embeddings book
        num_book,
        embedding_size,
        embeddings_initializer = 'he_normal',
        embeddings_regularizer = keras.regularizers.l2(1e-6)
    )
    self.book_bias = layers.Embedding(num_book, 1) # layer embedding book bias

  def call(self, inputs):
    user_vector = self.user_embedding(inputs[:,0]) # memanggil layer embedding 1
    user_bias = self.user_bias(inputs[:, 0]) # memanggil layer embedding 2
    book_vector = self.book_embedding(inputs[:, 1]) # memanggil layer embedding 3
    book_bias = self.book_bias(inputs[:, 1]) # memanggil layer embedding 4

    dot_user_book = tf.tensordot(user_vector, book_vector, 2)

    x = dot_user_book + user_bias + book_bias

    return tf.nn.sigmoid(x) # activation sigmoid

In [63]:
model = RecommenderNet(num_users, num_book, 50)
model.compile(
    loss = tf.keras.losses.BinaryCrossentropy(),
    optimizer = keras.optimizers.Adam(learning_rate=0.001),
    metrics=[tf.keras.metrics.RootMeanSquaredError()]
)

In [64]:
history = model.fit(
    x = x_train,
    y = y_train,
    batch_size = 8,
    epochs = 100,
    validation_data = (x_val, y_val)
)

Epoch 1/100
1000/1000 [==============================] - 14s 12ms/step - loss: 0.6075 - root_mean_squared_error: 0.4082 - val_loss: 0.5335 - val_root_mean_squared_error: 0.3650
Epoch 2/100
1000/1000 [==============================] - 7s 7ms/step - loss: 0.4197 - root_mean_squared_error: 0.3033 - val_loss: 0.4866 - val_root_mean_squared_error: 0.3379
Epoch 3/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.3952 - root_mean_squared_error: 0.2904 - val_loss: 0.4462 - val_root_mean_squared_error: 0.3167
Epoch 4/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.3692 - root_mean_squared_error: 0.2746 - val_loss: 0.4164 - val_root_mean_squared_error: 0.3032
Epoch 5/100
1000/1000 [==============================] - 7s 7ms/step - loss: 0.3463 - root_mean_squared_error: 0.2609 - val_loss: 0.3979 - val_root_mean_squared_error: 0.2958
Epoch 6/100
1000/1000 [==============================] - 11s 11ms/step - loss: 0.3339 - root_mean_squared_error: 0.2531 - val_loss: 0.3862 - val_root_mean_squared_error: 0.2912
Epoch 7/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.3223 - root_mean_squared_error: 0.2445 - val_loss: 0.3786 - val_root_mean_squared_error: 0.2881
Epoch 8/100
1000/1000 [==============================] - 7s 7ms/step - loss: 0.3135 - root_mean_squared_error: 0.2382 - val_loss: 0.3734 - val_root_mean_squared_error: 0.2858
Epoch 9/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.3055 - root_mean_squared_error: 0.2320 - val_loss: 0.3697 - val_root_mean_squared_error: 0.2840
Epoch 10/100
1000/1000 [==============================] - 7s 7ms/step - loss: 0.2993 - root_mean_squared_error: 0.2260 - val_loss: 0.3667 - val_root_mean_squared_error: 0.2824
Epoch 11/100
1000/1000 [==============================] - 9s 9ms/step - loss: 0.2924 - root_mean_squared_error: 0.2212 - val_loss: 0.3648 - val_root_mean_squared_error: 0.2813
Epoch 12/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.2879 - root_mean_squared_error: 0.2186 - val_loss: 0.3630 - val_root_mean_squared_error: 0.2802
Epoch 13/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.2847 - root_mean_squared_error: 0.2144 - val_loss: 0.3615 - val_root_mean_squared_error: 0.2793
Epoch 14/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.2774 - root_mean_squared_error: 0.2091 - val_loss: 0.3602 - val_root_mean_squared_error: 0.2784
Epoch 15/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.2732 - root_mean_squared_error: 0.2052 - val_loss: 0.3592 - val_root_mean_squared_error: 0.2779
Epoch 16/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.2711 - root_mean_squared_error: 0.2035 - val_loss: 0.3586 - val_root_mean_squared_error: 0.2775
Epoch 17/100
1000/1000 [==============================] - 9s 9ms/step - loss: 0.2671 - root_mean_squared_error: 0.2002 - val_loss: 0.3581 - val_root_mean_squared_error: 0.2773
Epoch 18/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.2640 - root_mean_squared_error: 0.1975 - val_loss: 0.3573 - val_root_mean_squared_error: 0.2767
Epoch 19/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.2599 - root_mean_squared_error: 0.1941 - val_loss: 0.3569 - val_root_mean_squared_error: 0.2764
Epoch 20/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.2584 - root_mean_squared_error: 0.1920 - val_loss: 0.3563 - val_root_mean_squared_error: 0.2760
Epoch 21/100
1000/1000 [==============================] - 7s 7ms/step - loss: 0.2543 - root_mean_squared_error: 0.1882 - val_loss: 0.3558 - val_root_mean_squared_error: 0.2756
Epoch 22/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.2510 - root_mean_squared_error: 0.1853 - val_loss: 0.3555 - val_root_mean_squared_error: 0.2754
Epoch 23/100
1000/1000 [==============================] - 7s 7ms/step - loss: 0.2490 - root_mean_squared_error: 0.1839 - val_loss: 0.3557 - val_root_mean_squared_error: 0.2755
Epoch 24/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.2452 - root_mean_squared_error: 0.1804 - val_loss: 0.3553 - val_root_mean_squared_error: 0.2752
Epoch 25/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.2417 - root_mean_squared_error: 0.1780 - val_loss: 0.3553 - val_root_mean_squared_error: 0.2750
Epoch 26/100
1000/1000 [==============================] - 7s 7ms/step - loss: 0.2398 - root_mean_squared_error: 0.1757 - val_loss: 0.3552 - val_root_mean_squared_error: 0.2750
Epoch 27/100
1000/1000 [==============================] - 10s 10ms/step - loss: 0.2378 - root_mean_squared_error: 0.1738 - val_loss: 0.3552 - val_root_mean_squared_error: 0.2749
Epoch 28/100
1000/1000 [==============================] - 7s 7ms/step - loss: 0.2344 - root_mean_squared_error: 0.1702 - val_loss: 0.3554 - val_root_mean_squared_error: 0.2751
Epoch 29/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.2337 - root_mean_squared_error: 0.1700 - val_loss: 0.3555 - val_root_mean_squared_error: 0.2750
Epoch 30/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.2292 - root_mean_squared_error: 0.1658 - val_loss: 0.3551 - val_root_mean_squared_error: 0.2747
Epoch 31/100
1000/1000 [==============================] - 7s 7ms/step - loss: 0.2276 - root_mean_squared_error: 0.1638 - val_loss: 0.3552 - val_root_mean_squared_error: 0.2746
Epoch 32/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.2269 - root_mean_squared_error: 0.1638 - val_loss: 0.3553 - val_root_mean_squared_error: 0.2746
Epoch 33/100
1000/1000 [==============================] - 7s 7ms/step - loss: 0.2223 - root_mean_squared_error: 0.1593 - val_loss: 0.3553 - val_root_mean_squared_error: 0.2745
Epoch 34/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.2201 - root_mean_squared_error: 0.1571 - val_loss: 0.3555 - val_root_mean_squared_error: 0.2745
Epoch 35/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.2182 - root_mean_squared_error: 0.1556 - val_loss: 0.3558 - val_root_mean_squared_error: 0.2747
Epoch 36/100
1000/1000 [==============================] - 7s 7ms/step - loss: 0.2179 - root_mean_squared_error: 0.1538 - val_loss: 0.3558 - val_root_mean_squared_error: 0.2745
Epoch 37/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.2151 - root_mean_squared_error: 0.1518 - val_loss: 0.3562 - val_root_mean_squared_error: 0.2747
Epoch 38/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.2131 - root_mean_squared_error: 0.1502 - val_loss: 0.3563 - val_root_mean_squared_error: 0.2747
Epoch 39/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.2117 - root_mean_squared_error: 0.1482 - val_loss: 0.3567 - val_root_mean_squared_error: 0.2749
Epoch 40/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.2102 - root_mean_squared_error: 0.1468 - val_loss: 0.3569 - val_root_mean_squared_error: 0.2748
Epoch 41/100
1000/1000 [==============================] - 7s 7ms/step - loss: 0.2093 - root_mean_squared_error: 0.1458 - val_loss: 0.3571 - val_root_mean_squared_error: 0.2749
Epoch 42/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.2059 - root_mean_squared_error: 0.1421 - val_loss: 0.3571 - val_root_mean_squared_error: 0.2748
Epoch 43/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.2044 - root_mean_squared_error: 0.1402 - val_loss: 0.3573 - val_root_mean_squared_error: 0.2748
Epoch 44/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.2031 - root_mean_squared_error: 0.1391 - val_loss: 0.3581 - val_root_mean_squared_error: 0.2752
Epoch 45/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.2006 - root_mean_squared_error: 0.1352 - val_loss: 0.3583 - val_root_mean_squared_error: 0.2753
Epoch 46/100
1000/1000 [==============================] - 7s 7ms/step - loss: 0.1993 - root_mean_squared_error: 0.1349 - val_loss: 0.3587 - val_root_mean_squared_error: 0.2755
Epoch 47/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1981 - root_mean_squared_error: 0.1335 - val_loss: 0.3591 - val_root_mean_squared_error: 0.2756
Epoch 48/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1963 - root_mean_squared_error: 0.1310 - val_loss: 0.3597 - val_root_mean_squared_error: 0.2758
Epoch 49/100
1000/1000 [==============================] - 7s 7ms/step - loss: 0.1959 - root_mean_squared_error: 0.1312 - val_loss: 0.3604 - val_root_mean_squared_error: 0.2762
Epoch 50/100
1000/1000 [==============================] - 9s 9ms/step - loss: 0.1937 - root_mean_squared_error: 0.1282 - val_loss: 0.3604 - val_root_mean_squared_error: 0.2760
Epoch 51/100
1000/1000 [==============================] - 7s 7ms/step - loss: 0.1919 - root_mean_squared_error: 0.1261 - val_loss: 0.3607 - val_root_mean_squared_error: 0.2760
Epoch 52/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1900 - root_mean_squared_error: 0.1237 - val_loss: 0.3607 - val_root_mean_squared_error: 0.2760
Epoch 53/100
1000/1000 [==============================] - 9s 9ms/step - loss: 0.1898 - root_mean_squared_error: 0.1242 - val_loss: 0.3615 - val_root_mean_squared_error: 0.2763
Epoch 54/100
1000/1000 [==============================] - 7s 7ms/step - loss: 0.1877 - root_mean_squared_error: 0.1207 - val_loss: 0.3621 - val_root_mean_squared_error: 0.2765
Epoch 55/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1871 - root_mean_squared_error: 0.1202 - val_loss: 0.3625 - val_root_mean_squared_error: 0.2767
Epoch 56/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1857 - root_mean_squared_error: 0.1186 - val_loss: 0.3632 - val_root_mean_squared_error: 0.2769
Epoch 57/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1845 - root_mean_squared_error: 0.1171 - val_loss: 0.3636 - val_root_mean_squared_error: 0.2769
Epoch 58/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1826 - root_mean_squared_error: 0.1145 - val_loss: 0.3640 - val_root_mean_squared_error: 0.2770
Epoch 59/100
1000/1000 [==============================] - 7s 7ms/step - loss: 0.1823 - root_mean_squared_error: 0.1147 - val_loss: 0.3646 - val_root_mean_squared_error: 0.2772
Epoch 60/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1797 - root_mean_squared_error: 0.1108 - val_loss: 0.3648 - val_root_mean_squared_error: 0.2772
Epoch 61/100
1000/1000 [==============================] - 7s 7ms/step - loss: 0.1797 - root_mean_squared_error: 0.1113 - val_loss: 0.3650 - val_root_mean_squared_error: 0.2772
Epoch 62/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1780 - root_mean_squared_error: 0.1088 - val_loss: 0.3654 - val_root_mean_squared_error: 0.2774
Epoch 63/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1776 - root_mean_squared_error: 0.1090 - val_loss: 0.3661 - val_root_mean_squared_error: 0.2776
Epoch 64/100
1000/1000 [==============================] - 7s 7ms/step - loss: 0.1762 - root_mean_squared_error: 0.1062 - val_loss: 0.3664 - val_root_mean_squared_error: 0.2777
Epoch 65/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1753 - root_mean_squared_error: 0.1061 - val_loss: 0.3675 - val_root_mean_squared_error: 0.2782
Epoch 66/100
1000/1000 [==============================] - 7s 7ms/step - loss: 0.1741 - root_mean_squared_error: 0.1039 - val_loss: 0.3678 - val_root_mean_squared_error: 0.2781
Epoch 67/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1733 - root_mean_squared_error: 0.1037 - val_loss: 0.3683 - val_root_mean_squared_error: 0.2782
Epoch 68/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1724 - root_mean_squared_error: 0.1015 - val_loss: 0.3690 - val_root_mean_squared_error: 0.2785
Epoch 69/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1713 - root_mean_squared_error: 0.0997 - val_loss: 0.3694 - val_root_mean_squared_error: 0.2787
Epoch 70/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1700 - root_mean_squared_error: 0.0984 - val_loss: 0.3699 - val_root_mean_squared_error: 0.2788
Epoch 71/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1685 - root_mean_squared_error: 0.0960 - val_loss: 0.3702 - val_root_mean_squared_error: 0.2788
Epoch 72/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1680 - root_mean_squared_error: 0.0951 - val_loss: 0.3707 - val_root_mean_squared_error: 0.2789
Epoch 73/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1667 - root_mean_squared_error: 0.0938 - val_loss: 0.3710 - val_root_mean_squared_error: 0.2790
Epoch 74/100
1000/1000 [==============================] - 7s 7ms/step - loss: 0.1664 - root_mean_squared_error: 0.0931 - val_loss: 0.3715 - val_root_mean_squared_error: 0.2792
Epoch 75/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1654 - root_mean_squared_error: 0.0920 - val_loss: 0.3722 - val_root_mean_squared_error: 0.2794
Epoch 76/100
1000/1000 [==============================] - 7s 7ms/step - loss: 0.1642 - root_mean_squared_error: 0.0897 - val_loss: 0.3726 - val_root_mean_squared_error: 0.2795
Epoch 77/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1635 - root_mean_squared_error: 0.0889 - val_loss: 0.3730 - val_root_mean_squared_error: 0.2797
Epoch 78/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1632 - root_mean_squared_error: 0.0885 - val_loss: 0.3736 - val_root_mean_squared_error: 0.2798
Epoch 79/100
1000/1000 [==============================] - 7s 7ms/step - loss: 0.1619 - root_mean_squared_error: 0.0865 - val_loss: 0.3740 - val_root_mean_squared_error: 0.2799
Epoch 80/100
1000/1000 [==============================] - 9s 9ms/step - loss: 0.1619 - root_mean_squared_error: 0.0876 - val_loss: 0.3746 - val_root_mean_squared_error: 0.2800
Epoch 81/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1608 - root_mean_squared_error: 0.0852 - val_loss: 0.3750 - val_root_mean_squared_error: 0.2800
Epoch 82/100
1000/1000 [==============================] - 7s 7ms/step - loss: 0.1600 - root_mean_squared_error: 0.0844 - val_loss: 0.3758 - val_root_mean_squared_error: 0.2803
Epoch 83/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1593 - root_mean_squared_error: 0.0828 - val_loss: 0.3759 - val_root_mean_squared_error: 0.2803
Epoch 84/100
1000/1000 [==============================] - 7s 7ms/step - loss: 0.1585 - root_mean_squared_error: 0.0817 - val_loss: 0.3767 - val_root_mean_squared_error: 0.2804
Epoch 85/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1583 - root_mean_squared_error: 0.0818 - val_loss: 0.3769 - val_root_mean_squared_error: 0.2804
Epoch 86/100
1000/1000 [==============================] - 9s 9ms/step - loss: 0.1575 - root_mean_squared_error: 0.0804 - val_loss: 0.3775 - val_root_mean_squared_error: 0.2806
Epoch 87/100
1000/1000 [==============================] - 7s 7ms/step - loss: 0.1568 - root_mean_squared_error: 0.0798 - val_loss: 0.3781 - val_root_mean_squared_error: 0.2807
Epoch 88/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1563 - root_mean_squared_error: 0.0783 - val_loss: 0.3784 - val_root_mean_squared_error: 0.2808
Epoch 89/100
1000/1000 [==============================] - 7s 7ms/step - loss: 0.1558 - root_mean_squared_error: 0.0784 - val_loss: 0.3794 - val_root_mean_squared_error: 0.2811
Epoch 90/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1549 - root_mean_squared_error: 0.0764 - val_loss: 0.3801 - val_root_mean_squared_error: 0.2812
Epoch 91/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1546 - root_mean_squared_error: 0.0755 - val_loss: 0.3803 - val_root_mean_squared_error: 0.2812
Epoch 92/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1536 - root_mean_squared_error: 0.0743 - val_loss: 0.3807 - val_root_mean_squared_error: 0.2813
Epoch 93/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1532 - root_mean_squared_error: 0.0735 - val_loss: 0.3813 - val_root_mean_squared_error: 0.2816
Epoch 94/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1524 - root_mean_squared_error: 0.0727 - val_loss: 0.3818 - val_root_mean_squared_error: 0.2816
Epoch 95/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1520 - root_mean_squared_error: 0.0723 - val_loss: 0.3820 - val_root_mean_squared_error: 0.2817
Epoch 96/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1514 - root_mean_squared_error: 0.0711 - val_loss: 0.3826 - val_root_mean_squared_error: 0.2817
Epoch 97/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1511 - root_mean_squared_error: 0.0707 - val_loss: 0.3833 - val_root_mean_squared_error: 0.2818
Epoch 98/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1512 - root_mean_squared_error: 0.0714 - val_loss: 0.3839 - val_root_mean_squared_error: 0.2820
Epoch 99/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1500 - root_mean_squared_error: 0.0685 - val_loss: 0.3842 - val_root_mean_squared_error: 0.2820
Epoch 100/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.1498 - root_mean_squared_error: 0.0687 - val_loss: 0.3847 - val_root_mean_squared_error: 0.2822

In [65]:
book_df = book_new
data = pd.read_csv('/tmp/Ratings.csv')
df = data[1:10001]

# Mengambil sample user
user_id = df['User-ID'].sample(100).iloc[30]
book_visited_by_user = df[df['User-ID'] == user_id]

# Operator bitwise (~)
book_not_visited = book_df[~book_df['id'].isin(book_visited_by_user.ISBN.values)]['id']
book_not_visited = list(
    set(book_not_visited)
    .intersection(set(book_to_book_encoded.keys()))
)

book_not_visited = [[book_to_book_encoded.get(x)] for x in book_not_visited]
user_encoder = user_to_user_encoded.get(user_id)
user_book_array = np.hstack(
    ([[user_encoder]] * len(book_not_visited), book_not_visited)
)

In [66]:
rating = model.predict(user_book_array).flatten()

top_rating_indices = rating.argsort()[-10:][::-1]
recommended_book_ids = [
    book_encoded_to_book.get(book_not_visited[x][0]) for x in top_rating_indices
]

print('Menampilkan Rekomendasi  Book_Author untuk Pengguna dengan Total : {} Pengguna'.format(user_id))
print('===' * 11)
top_book_user = (
    book_visited_by_user.sort_values(
        by = 'Book-Rating',
        ascending=False
    )
    .head(5)
    .ISBN.values
)

book_df_rows = book_df[book_df['id'].isin(top_book_user)]
for row in book_df_rows.itertuples():
    print(row.book_author, ':', row.book_title)

print('---' * 11)
print('Top 10 Book_Author Recommendation')
print('---' * 11)

recommended_book = book_df[book_df['id'].isin(recommended_book_ids)]
for row in recommended_book.itertuples():
    print(row.book_author, ':', row.book_title)

43/43 [==============================] - 0s 1ms/step
Menampilkan Rekomendasi  Book_Author untuk Pengguna dengan Total : 277439 Pengguna
=================================
Alice Sebold : The Lovely Bones: A Novel
Stuart Woods : Dirty Work
Dan Brown : Angels &amp; Demons
---------------------------------
Top 10 Book_Author Recommendation
---------------------------------
Robert Penn Warren : All the King's Men
Norton Juster : The Phantom Tollbooth
William Gerald Golding : Lord of the Flies
Maeve Binchy : This Year It Will Be Different: And Other Stories
Stephen King : The Green Mile
SUZANNE FISHER STAPLES : Haveli (Laurel Leaf Books)
Robert Jordan : The Fires of Heaven (The Wheel of Time, Book 5)
Jack Canfield : Chicken Soup for the Pet Lover's Soul (Chicken Soup for the Soul)
Schiller : Kabale Und Liebe
Ray Bradbury : Die Mechanismen der Freude. ErzÃ?Â¤hlungen.